/* root CSS */
#root {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin: 0 7rem; */
  /* margin: 0rem 5rem; */
  margin-right: 5rem;
  margin-left: 5rem;
}

#root hr {
  /* position: fixed; */
}

/* 맨위 헤더 부분 */
.FirstHeader {
  margin-top: 1rem;
  /* background-color: skyblue; */
  /* justify-content: space-between; */
  font-size: 12px;
  font-weight: 900;
  display: flex;
  flex-direction: row;
}

.FirstHeader div {
  margin-left: 0.8rem;
}

.login button {
  background-color: white;
  font-size: 15px;
  font-weight: 900;
  border-radius: 0.5rem;
  width: 70px;
  height: 30px;
  border-color: #4b64fb;
  color: #4b64fb;
  cursor: pointer;
}

.newMake button {
  color: white;
  background-color: #4b64fb;
  font-size: 15px;
  font-weight: 900;
  border-radius: 0.5rem;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.diaLogo img {
  cursor: pointer;
}

/* 두번째 헤더 부분 */
.SecondHeader {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.SecondHeader ul {
  display: flex;
  flex-direction: row;
}

.SecondHeader li {
  cursor: pointer;
  display: flex;
  flex-direction: row;

  /* margin-left: 1rem; */
}

.cryptoC {
  margin-left: 0.8rem;
  font-weight: 900;
}

.cryptoC div:hover ul {
  opacity: 1;
  background-color: white;
}

.dropitem ul {
  flex-direction: column;
  padding: 0;
  margin-top: 1rem;
  /* display: none; */
  opacity: 0;
}

.submenu {
  position: absolute;
}

#container {
  display: flex;
  /* flex-direction: row; */
}

/* 3개의 아이템 리스트 */
#container .item {
  box-shadow: 1px 1px 2px 1px rgb(214, 202, 202);
  border-radius: 5%;
  width: 500px;
  height: 250px;
  background-color: white;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

#container .item h3 {
  padding-left: 1.5rem;
}

#container .item li {
  padding: 1rem;
  font-weight: 900;
  cursor: pointer;
}

#container .slider img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

@media (max-width: 972px) {
  #container .item {
    display: none;
    background-color: red;
  }
  body {
    background-color: #4b64fb;
  }
}

/* 아이템 박스 슬라이드 구현 */

/* 암호화폐 포트폴리오 */
.main .listPortfolio {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  color: aliceblue;
  text-align: center;
  justify-content: space-between;
  margin-top: 1rem;
}
