/* 전체를 감싸는 컨테이너 */
.container div {
  margin: 0.5rem 0;
}

.container {
  margin-top: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* 카테고리, 사용처 아이템박스 */
#itembox1 {
  display: flex;
  margin: auto;
}

#textarea {
  margin: auto;
  /* display: flex; */
  width: 25rem;
  height: 10rem;
  background-color: beige;
}

#cat-title {
  padding: 1rem;
  background-color: beige;
  height: 1rem;
}

#useway {
  /* flex: 1; */
  padding: 1rem;
  background-color: beige;
  height: 1rem;
}

#home {
  font-size: 2rem;
  width: 22rem;
}

#home {
  background-color: khaki;
}

#income-expense {
  display: flex;
  margin: auto;
}

#spends {
  padding: 1rem;
  height: 1rem;
  background-color: azure;
}