html {
  background: radial-gradient(white 10%, beige 90%);
}

.container div {
  margin: .5rem 0;
}

.container {
  margin:auto;
  margin-top: 15rem;
  text-align: center;
  display:flex;
  flex-direction: column;
  /* border: 2px solid #ffb6a2; */
  box-shadow: 0 0 1rem #ffa6a2;
  border-radius: 10px;
  width: 32rem;
  /* background: linear-gradient(to bottom, white, beige); */
}

/* .cat-title select {
  width:7.5%
}

.cat-title input {
  width:20%
} */

#category {
  background-color: beige;
  height: 1.5rem;
  padding-top: 0.25rem;
}

#title {
  background-color: beige;
  font-size: 1.25rem;
  width: 15rem;
}

textarea {
  min-height: 10rem;
  width: 25rem;
  resize: none;
  background-color: beige;
}

#save {
  font-size: 2rem;
  width: 25rem;
}

#save {
  background-color: #ffa6a2
}

#spend {
  background-color: beige;
  width: 25rem;
}