<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <body>
    <div>
      <label for="">block</label>
      <button id="blockListViewBtn">블록 전체 조회</button>
    </div>
    <div id="blockListView"></div>
    <div>
      <label for="">블록 생성</label>
      <input type="text" id="blockTxData" />
      <button id="blockCreate">블록 생성</button>
    </div>
  </body>
  <script>
    blockListViewBtn.onclick = async () => {
      const { data } = await axios.get("/chains");
      blockListView.innerHTML = JSON.stringify(data);
    };
    blockCreate.onclick = async () => {
      const _blockData = [blockTxData.value];
      const { data } = await axios.post("/block/mine", { data: _blockData });
      console.log(data);
    };
  </script>
</html>
