{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "16",
          "chrome": "58",
          "ie": "11"
        }
      }
    ]
  ]
  // presets 자바스크립트 기능 또는 구문을 변환하는 babel 플러그인
  // 프로젝트의 특정 브라우저  또는 node 버전에서 지원할 수 있게 코드를 변환해준다.
}
