* {
  box-sizing: border-box;
}

html, body {
  margin:0;
  padding:0;
  background-color: beige  
}

#container {
  text-align: center;
  /* position:relative; */
  display: flex;
  flex-flow:column wrap;
  /* border: 1px solid black; */
}

/* #container div {
  border:1px solid black;
} */

a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

#list {
  margin: auto;
}

.item {
  display: flex;
  flex-flow: row wrap;
  margin: 2rem;
  background: radial-gradient(rgba(255, 220, 204, 0), beige);
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.5);
  /* border: 1px solid black; */
}

.item div {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
}

.item > div:first-child {
  /* border-right: 1px dashed rgba(0,0,0,0.5); */
  border-radius: 0;
}

.item div div {
  display: flex;
  flex-flow: row wrap;
}

.item div div div {
  border: 1px solid rgba(0,0,0,0.5);
}

.numbers {
  border: 1px dashed rgba(0,0,0,0.5);
}

/* .date {
  background-color: beige;
}

.categories {
  background-color: beige;
}

.title {
  background-color: beige;
} */

#create {
  /* background: linear-gradient(45deg, thistle, beige, azure); */
  font-size: 3rem;
  color:rgba(0,0,0,0.85);
  border-radius: 10px;
  margin-top: 1rem;
  border: 1px solid rgba(0,0,0,0.85);
  /* margin-left: 25rem;
  position: fixed; */
}