#container {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  /* justify-content: center; */
  
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  /* font-size: 1.25rem; */
}

h1 {
  color: rgb(161, 255, 168);
}

#list {
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  /* width: 800px; */
  /* text-align: center; */
  /* align-items: center; */
  /* background: linear-gradient(-45deg, pink, beige) */
}

.item {
  display: flex;
  flex-flow: row wrap;
  margin: 3rem;
  /* flex-flow: column nowrap; */
  /* justify-content: center; */
  /* margin: auto; */
}

.item div {
  padding: 1rem;
  border: 1px solid black;
  /* border-radius: 10px; */
  /* width: 125; */
  /* height: 60; */
  font-size: 1.5rem;
  /* margin: auto; */
  /* flex: 1 2 auto; */
}

.numbers {
  background-color: white;
}

.date {
  background-color: beige;
}

.categories {
  background-color: beige;
}

.spend {
  /* background-color: beige; */
}

.title {
  background-color: beige;
}

#create {
  background-color: brown;
  float: right;
  /* display: none; */
}